body{
  padding:8px;
}

#wrapper{
  width:100%; 
  background:#fff;
  position:relative;
  overflow:hidden;
}

#caps_header{
  display:block;
  position:relative;
  width:100%;
  background:#FFFFFF;
  z-index:100;
  box-shadow:0px 8px 8px #a5a4a2;
}

#container{
  font:15px Arial, Helvetica, sans-serif;
  z-index:10;
  margin:0 auto;
}

#two-columns{
  margin:0;
  overflow:hidden;
}

#sidebar{
  float:left;
  padding:12px 6px 12px 6px;
  background:#ebebeb;
  width:260px;
  position:relative;
  overflow:hidden;
}

#content{
  margin-left:262px;
  padding:40px 8px 8px 20px;
}

#results{
  float:left;
  width:100%;
  overflow:hidden;
}

#caps_search_btn{
  float:left;
  background:#e6ecf0;
  color:#124161;
  border:2px solid #124161;
  font:bold 17px Arial, Helvetica, sans-serif;
  margin:0 0 9px;
  padding:10px 15px 10px 15px;
}

#caps_search_btn:hover{
  color:#fff;
  background:#124161;
}

#caps_reset_btn{
  float:right;
  background:#e6ecf0;
  color:#124161;
  border:2px solid #124161;
  font:bold 17px Arial, Helvetica, sans-serif;
  padding:10px 15px 10px 15px;
  text-decoration:none;
}

#caps_reset_btn:hover{
  color:#fff;
  background:#124161;
}

#caps_update_btn{
  background:#e6ecf0;
  color:#124161;
  border:2px solid #124161;
  font:bold 15px Arial, Helvetica, sans-serif;
  margin:0 4px;
  padding:2px 6px 2px 6px;
}

#caps_update_btn:hover{
  color:#fff;
  background:#124161;
}

#caps_field_btn{
  background:#e6ecf0;
  color:#124161;
  border:2px solid #124161;
  font:bold 15px Arial, Helvetica, sans-serif;
  margin:0 4px;
  padding:2px 6px 2px 6px;
}

#caps_field_btn:hover{
  color:#fff;
  background:#124161;
}

#caps_previous_btn{
  width:140px;
  background:#e6ecf0;
  color:#124161;
  border:2px solid #124161;
  font:bold 17px Arial, Helvetica, sans-serif;
  margin:0 20px 0 0;
  padding:10px 15px 10px 15px;
}

#caps_previous_btn:hover{
  color:#fff;
  background:#124161;
}

#caps_next_btn{
  width:140px;
  background:#e6ecf0;
  color:#124161;
  border:2px solid #124161;
  font:bold 17px Arial, Helvetica, sans-serif;
  margin:0 0 0 20px;
  padding:10px 15px 10px 15px;
}

#caps_next_btn:hover{
  color:#fff;
  background:#124161;
}

#caps_current_page_btn{
  background:#fff;
  color:#124161;
  border:0;
  font:bold 26px Arial, Helvetica, sans-serif;
  margin:0 8px 0 8px;
  padding:2px;
}

#caps_current_page_btn:hover{
  color:#fff;
  background:#124161;
}

#caps_page_btn{
  background:#fff;
  color:#124161;
  border:0;
  font:bold 16px Arial, Helvetica, sans-serif;
  margin:0 8px 0 8px;
  padding:2px;
}

#caps_page_btn:hover{
  color:#fff;
  background:#124161;
}

#cycles_box{
  clear:both;
  float:left;
  width:220px;
  margin-left:0px;
  margin-bottom:20px;
  padding:4px;
  overflow:hidden;
}

#filter_box{
  background:#ebebeb;
  margin-top:25px;
  margin-bottom:15px;
  padding:8px;
  border:2px solid #ccc;
}

#download_box{
  float:right;
  border:0;
}

#table_box{
  margin-top:8px;
  margin-bottom:15px;
  overflow:auto;
  border:2px solid #ccc;
}

#breakdown_box{
  margin-top:10px;
  margin-left:30px;
  margin-bottom:8px;
}

#qs_page{
  padding:28px;
  overflow:hidden;
}

#qs_title{
  float:left;
  padding:0;
  width:580px;
  position:relative;
  overflow:hidden;
}

#qs_search{
  clear:both;
  float:left;
  width:100%;
  margin-top:28px;
}

#qs_box{
  float:left;
  margin-left:14px;
}

#help_box{
  clear:both;
  background:#ebebeb;
  padding:20px;
  border-top:2px solid #000000;
  border-bottom:2px solid #000000;
  font:15px Arial, Helvetica, sans-serif;
  text-decoration:none;
}

#maplight_info{
  float:right;
  font:italic 12px Arial, Helvetica, sans-serif;
  color:#898989;
}

.maplight_link{
  font:italic 12px Arial, Helvetica, sans-serif;
  color:#898989;
  text-decoration:none;
}

.caps_title1{
  font:bold 29px/40px Arial, Helvetica, sans-serif;
  color:#222;
  margin:0 0 15px;
}

.caps_title2{
  font:bold 21px Arial, Helvetica, sans-serif;
  color:#222;
  margin:0 0 15px;
}

.caps_title4{
  font:bold 29px Arial, Helvetica, sans-serif;
  color:#222;
  margin:20px 0 4px 0;
  padding:0;
  background:#fff;
  border:0;
}

.caps_header1{
  margin:8px 0 12px;
  font:bold 21px Arial, Helvetica, sans-serif;
  color:#124161;
  background:#ebebeb;
  border:0px;
}

.caps_radio1{
  clear:both;
  float:left;
  margin-left:4px;
  margin-bottom:18px;
}

.caps_radio2{
  clear:both;
  float:left;
  margin-left:18px;
  margin-bottom:18px;
}

.caps_radio3{
  clear:both;
  float:left;
  margin-left:18px;
  margin-bottom:4px;
}

.caps_radio4{
  clear:both;
  float:left;
  margin-left:22px;
  margin-bottom:18px;
}

.caps_radio5{
  clear:both;
  float:left;
  margin-left:4px;
  margin-bottom:4px;
}

.caps_radio6{
  float:left;
  margin-left:18px;
  margin-bottom:8px;
}

.caps_box1{
  margin-left:22px;
  margin-bottom:16px;
  font:bold 15px Arial, Helvetica, sans-serif;
  color:#000;
}

.caps_label1{
  margin-left:4px;
  margin-bottom:16px;
  font:bold 15px Arial, Helvetica, sans-serif;
  color:#000;
}

.caps_label2{
  clear:both;
  float:left;
  margin-left:20px;
  font:bold 15px Arial, Helvetica, sans-serif;
  color:#000;
}

.caps_label3{
  float:left;
  width:200px;
  text-align:left;
  margin-left:4px;
  margin-bottom:22px;
  font:15px Arial, Helvetica, sans-serif;
  color:#000;
}

.caps_label4{
  margin-left:4px;
  margin-bottom:4px;
  font:bold 15px Arial, Helvetica, sans-serif;
  color:#000;
}

.caps_label5{
  margin-left:8px;
  margin-bottom:16px;
  padding:0px;
  font:15px Arial, Helvetica, sans-serif;
  color:#000;
}

.caps_label6{
  margin-left:4px;
  margin-bottom:8px;
  padding:0px;
  font:15px Arial, Helvetica, sans-serif;
  color:#000;
}

.caps_text1{
  float:left;
  width:190px;
  margin-left:4px;
  padding:0px;
  border:2px solid #ccc;
  font:15px Arial, Helvetica, sans-serif;
  color:#898989;
  border-radius:0;
}

.caps_text2{
  clear:both;
  float:left;
  width:196px;
  margin-left:22px;
  padding:0px;
  border:2px solid #ccc;
  font:15px Arial, Helvetica, sans-serif;
  color:#898989;
  border-radius:0;
}

.caps_text3{
  clear:both;
  float:left;
  width:80px;
  margin-left:22px;
  margin-bottom:16px;
  padding:0px;
  border:2px solid #ccc;
  font:15px Arial, Helvetica, sans-serif;
  color:#898989;
  border-radius:0;
}

.caps_text4{
  float:left;
  width:80px;
  margin-left:8px;
  margin-bottom:16px;
  padding:0px;
  border:2px solid #ccc;
  font:15px Arial, Helvetica, sans-serif;
  color:#898989;
  border-radius:0;
}

.caps_text5{
  float:left;
  width:190px;
  margin-left:22px;
  margin-bottom:22px;
  padding:0px;
  border:2px solid #ccc;
  font:15px Arial, Helvetica, sans-serif;
  color:#898989;
  -webkit-appearance:none;
  border-radius:0;
}

.caps_select1{
  clear:both;
  float:left;
  width:200px;
  margin-left:20px;
  margin-bottom:16px;
  padding:0px;
  border:2px solid #ccc;
  font:15px Arial, Helvetica, sans-serif;
  color:#898989;
  border-radius:0;
}

.caps_select2{
  clear:both;
  float:left;
  width:194px;
  margin-left:34px;
  margin-bottom:22px;
  padding:0px;
  border:2px solid #ccc;
  font:15px Arial, Helvetica, sans-serif;
  color:#898989;
  border-radius:0;
}

.caps_select3{
  float:left;
  width:194px;
  margin-left:4px;
  margin-bottom:22px;
  padding:0px;
  border:2px solid #ccc;
  font:15px Arial, Helvetica, sans-serif;
  color:#898989;
  border-radius:0;
}

.caps_select4{
  clear:both;
  float:left;
  width:200px;
  margin-left:22px;
  margin-bottom:18px;
  padding:0px;
  border:2px solid #ccc;
  font:15px Arial, Helvetica, sans-serif;
  color:#898989;
  border-radius:0;
}

.caps_hr1{
  clear:both;
  float:left;
  width:100%;
  padding:0px;
  margin:0 0 20px 0;
  margin-bottom:20px;
  background-color:#b7b7b7;
  height:2px;
  border-width:0;
}

.caps_table1{
  border-collapse:collapse;
  border-spacing:0;
  border:1px solid #b8b8b8;
  margin:0;
  padding:0;
}

.caps_table1 thead{
  margin:0;
  padding:0;
  background:#ebebeb;
  font:13px Arial, Helvetica, sans-serif;
  color:#333;
}

.caps_table1 thead tr th{
  margin:0;
  padding:7px 15px 7px 3px;
}

.caps_table1 tbody{
  font:12px Arial, Helvetica, sans-serif;
  color:#333;
}

.caps_table1 tbody tr td{
  margin:0;
  padding:4px 8px 4px 3px;
}

.last_update{
  margin-top:6px;
}

.info{
  float:right;
  position:relative;
  margin-right:4px;
  width:15px;
  height:15px;
  cursor:pointer;
}

.tooltip{
  display:none;
  position:absolute;
  border:1px solid #000000;
  width:140px;
  background:blue;
  color:white;
}
 
.content_title1{
  font:21px/30px Arial, Helvetica, sans-serif;
  color:#222;
  margin:0 0 2px;
}

.content_strong1{
  font:700 36px Arial, Helvetica, sans-serif;
}

.content_select1{
  margin-left:6px;
  margin-right:6px;
  padding:0px;
  border:2px solid #ccc;
  font:15px Arial, Helvetica, sans-serif;
  color:#898989;
  border-radius:0;
}

.download_csv{
  background:#e6ecf0;
  border:2px solid #124161;
  font: bold 14px/22px Arial, Helvetica, sans-serif;
  color:#124161;
  margin:0 0 0 8px;
  padding:0px 29px 0 4px;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  position:relative;
}
.download_csv:before{
  position:absolute;
  right:9px;
  top:4px;
  content:'';
  background:url(../img/sprite01.png) no-repeat;
  width:13px;
  height:13px;
}
.download_csv:hover{
  color:#fff;
  background:#124161;
}
.download_csv:hover:before{
  background-position:-22px 0;
}

.download_info{
  float:right;
  position:relative;
  margin-right:4px;
  background:url(../img/sprite01.png) no-repeat 0 -15px;
  width:15px;
  height:16px;
}

.qs_link1{
  float:right;
  border:2px solid #124161;
  background:#e6ecf0;
  color:#124161;
  padding:4px 8px 4px 8px;
  font: bold 14px Arial, Helvetica, sans-serif;
  text-decoration: none;
}
.qs_link1:hover{
  color:#fff;
  background:#124161;
}

.qs_img{
  clear:both;
  float:left;
}

.qs_title1{
  font:bold 19px Arial, Helvetica, sans-serif;
  color:#000;
}

.qs_title2{
  font:bold 21px Arial, Helvetica, sans-serif;
  color:#000;
}

.qs_text1{
  width:190px;
  padding:0px;
  border:2px solid #ccc;
  font:15px Arial, Helvetica, sans-serif;
  color:#898989;
  border-radius:0;
}

.qs_text2{
  width:230px;
  padding:0px;
  margin-bottom:8px;
  border:2px solid #ccc;
  font:15px Arial, Helvetica, sans-serif;
  color:#898989;
  border-radius:0;
}

.qs_select1{
  width:194px;
  margin-left:102px;
  margin-bottom:8px;
  padding:0px;
  border:2px solid #ccc;
  font:15px Arial, Helvetica, sans-serif;
  color:#898989;
  border-radius:0;
}

.qs_select2{
  margin-bottom:8px;
  padding:0px;
  border:2px solid #ccc;
  font:15px Arial, Helvetica, sans-serif;
  color:#898989;
  border-radius:0;
}

#qs_btn1{
  background:#e6ecf0;
  color:#124161;
  border:2px solid #124161;
  font:bold 15px Arial, Helvetica, sans-serif;
  margin:2px 0 24px;
  padding:4px 8px 4px 8px;
}

#qs_btn1:hover{
  color:#fff;
  background:#124161;
}


@media only screen and (max-width:700px){
  #sidebar{
    width:100%;
    padding:12px 6px 12px 6px;
    margin:0 auto 20px;
    float:none;
  }

  #content{
    width:100%;
    margin:0 auto;
    float:none;
  }
}
