body{
  padding:8px;
}

#caps_header{
  display:block;
  position:relative;
  width:100%;
  background:#FFFFFF;
  z-index:100;
  box-shadow:0px 8px 8px #a5a4a2;
}


#caps_wrapper{
  width:100%; 
  background:#fff;
  position:relative;
  overflow:hidden;
}

#caps_container{
  font:15px Arial, Helvetica, sans-serif;
  z-index:10;
  margin:0 auto;
}

#caps_columns{
  margin:0;
  overflow:hidden;
}

#caps_sidebar{
  float:left;
  padding:12px 6px 12px 6px;
  background:#ebebeb;
  width:260px;
  position:relative;
}

#caps_content{
  margin-left:262px;
  padding:40px 8px 8px 20px;
}

#caps_results{
  float:left;
  width:100%;
  overflow:hidden;
}

#caps_cycles_box{
  clear:both;
  float:left;
  width:220px;
  margin-left:0px;
  margin-bottom:20px;
  padding:4px;
  overflow:hidden;
}

#caps_breakdown_box{
  margin-top:10px;
  margin-left:30px;
  margin-bottom:8px;
  font:13px Arial, Helvetica, sans-serif;
}

#caps_filter_box{
  background:#ebebeb;
  margin-top:25px;
  margin-bottom:15px;
  padding:8px;
  border:2px solid #cccccc;
  font:15px Arial, Helvetica, sans-serif;
}

#caps_table_box{
  margin-top:8px;
  margin-bottom:15px;
  border:2px solid #cccccc;
  overflow:auto;
}

#qs_page{
  padding:28px;
  overflow:hidden;
}

#qs_title{
  float:left;
  padding:0;
  width:580px;
  position:relative;
  overflow:hidden;
}

#qs_search{
  clear:both;
  float:left;
  width:100%;
  margin-top:28px;
}

#qs_box{
  float:left;
  margin-left:14px;
}

#qs_btn{
  font:bold 14px Arial, Helvetica, sans-serif;
  color:#124161;
  border:2px solid #124161;
  background:#E6ECF0;
  margin:2px 0 24px;
  padding:4px 8px 4px 8px;
}
#qs_btn:hover{
  color:#FFFFFF;
  background:#124161;
}

#caps_reset_btn{
  float:left;
  background:#e6ecf0;
  width:70px;
  color:#124161;
  border:2px solid #124161;
  font:bold 16px Arial, Helvetica, sans-serif;
  padding:2px 10px 2px 10px;
  text-decoration:none;
  text-align:center;
}

#caps_reset_btn:hover{
  color:#fff;
  background:#124161;
}

#caps_search_btn{
  float:right;
  background:#e6ecf0;
  color:#124161;
  border:2px solid #124161;
  font:bold 17px Arial, Helvetica, sans-serif;
  margin:0 0 9px;
  padding:10px 15px 10px 15px;
}

#caps_search_btn:hover{
  color:#fff;
  background:#124161;
}

#caps_update_btn{
  background:#e6ecf0;
  color:#124161;
  border:2px solid #124161;
  font:bold 15px Arial, Helvetica, sans-serif;
  margin:0 4px;
  padding:2px 6px 2px 6px;
}

#caps_update_btn:hover{
  color:#fff;
  background:#124161;
}

#caps_field_btn{
  background:#e6ecf0;
  color:#124161;
  border:2px solid #124161;
  font:bold 15px Arial, Helvetica, sans-serif;
  margin:0 4px;
  padding:2px 6px 2px 6px;
}

#caps_field_btn:hover{
  color:#fff;
  background:#124161;
}

#caps_previous_btn{
  width:140px;
  background:#e6ecf0;
  color:#124161;
  border:2px solid #124161;
  font:bold 17px Arial, Helvetica, sans-serif;
  margin:0 20px 0 0;
  padding:10px 15px 10px 15px;
}

#caps_previous_btn:hover{
  color:#fff;
  background:#124161;
}

#caps_next_btn{
  width:140px;
  background:#e6ecf0;
  color:#124161;
  border:2px solid #124161;
  font:bold 17px Arial, Helvetica, sans-serif;
  margin:0 0 0 20px;
  padding:10px 15px 10px 15px;
}

#caps_next_btn:hover{
  color:#fff;
  background:#124161;
}

#caps_current_page_btn{
  background:#fff;
  color:#124161;
  border:0;
  font:bold 26px Arial, Helvetica, sans-serif;
  margin:0 8px 0 8px;
  padding:2px;
}

#caps_current_page_btn:hover{
  color:#fff;
  background:#124161;
}

#caps_page_btn{
  background:#fff;
  color:#124161;
  border:0;
  font:bold 16px Arial, Helvetica, sans-serif;
  margin:0 8px 0 8px;
  padding:2px;
}

#caps_page_btn:hover{
  color:#fff;
  background:#124161;
}


.caps_search_dropbox{
  position:absolute;
  display:none;
  max-width:400px;
  border-radius: 0px;
  margin-top:-8px;
  padding:0px;
  background:#FFFFFF;
  z-index:9999;
  overflow:auto;
}

.clear_both{clear:both;}
.right{float:right;}
.left{float:left;}

.font_large_header{font:bold 25px Arial, Helvetica, sans-serif;}
.font_header{font:bold 19px Arial, Helvetica, sans-serif;}
.font_title{font:bold 21px Arial, Helvetica, sans-serif;}
.font_input{font:15px Arial, Helvetica, sans-serif;}
.font_small{font:13px Arial, Helvetica, sans-serif;}
.font_btn{font:bold 14px Arial, Helvetica, sans-serif;}
.font_results_header{font:19px Arial, Helvetica, sans-serif;}

.btn_border{border:2px solid #124161;}
.input_border{border:2px solid #CCCCCC;}

.caps_tooltip{
  position:absolute;
  display:none;
  border:1px solid #124161;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding:5px;
  background:#124161;
  color:white;
  z-index:9999;
}

.caps_info{
  position:relative;
  margin-right:4px;
  width:15px;
  height:15px;
  cursor:pointer;
}

.caps_img{
  clear:both;
  float:left;
}

.download_csv{
  background:#e6ecf0;
  border:2px solid #124161;
  font: bold 14px/22px Arial, Helvetica, sans-serif;
  color:#124161;
  margin:0 0 0 8px;
  padding:0px 29px 0 4px;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  position:relative;
}
.download_csv:before{
  position:absolute;
  right:9px;
  top:4px;
  content:'';
  background:url(../img/sprite01.png) no-repeat;
  width:13px;
  height:13px;
}
.download_csv:hover{
  color:#fff;
  background:#124161;
}
.download_csv:hover:before{
  background-position:-22px 0;
}

.caps_hr1{
  clear:both;
  float:left;
  background-color:#a6a6a6;
  width:100%;
  height:2px;
  padding:0px;
  margin:0 0 20px 0;
  border-width:0;
}

.caps_hr2{
  clear:both;
  float:left;
  width:100%;
  padding:0px;
  margin:0 0 20px 0;
  background-color:#ffffff;
  height:2px;
  border-width:0;
}

.qs_option_title{margin-bottom:6px;}

.qs_link1{
  text-decoration:none;
  color:#124161;
  background:#E6ECF0;
  padding:4px 8px 4px 8px;
}
.qs_link1:hover{
  color:#ffffff;
  background:#124161;
}

.caps_title1{
  color:#222222;
  margin:20px 0 4px 0;
  padding:0;
  background:#ffffff;
  border:0;
}

.qs_text1{
  width:190px;
  padding:0px;
  margin-bottom:8px;
  border-radius:0;
}

.qs_text2{
  width:230px;
  padding:0px;
  margin-bottom:8px;
  border-radius:0;
}

.qs_select{
  margin-bottom:8px;
  padding:0px;
  border-radius:0;
}

#maplight_info{
  float:right;
  font:italic 12px Arial, Helvetica, sans-serif;
  color:#898989;
}

.maplight_link{
  font:italic 12px Arial, Helvetica, sans-serif;
  color:#898989;
  text-decoration:none;
}

.caps_option_title{
  margin:8px 0 12px;
  color:#124161;
  background:#ebebeb;
  border:0px;
}

.caps_sidebar_title{
  margin-left:4px;
  margin-bottom:16px;
  font-weight:bold;
}

.caps_radio1{
  margin-left:4px;
  margin-bottom:18px;
}

.caps_radio2{
  margin-left:18px;
  margin-bottom:18px;
}

.caps_radio3{
  margin-left:18px;
  margin-bottom:4px;
}

.caps_radio4{
  margin-left:22px;
  margin-bottom:18px;
}

.caps_radio5{
  margin-left:4px;
  margin-bottom:4px;
}

.caps_radio6{
  margin-left:18px;
  margin-bottom:8px;
}

.caps_label1{
  margin-left:4px;
  margin-bottom:16px;
  font-weight:bold;
}

.caps_label2{
  margin-left:20px;
  font-weight:bold;
}

.caps_label3{
  width:200px;
  text-align:left;
  margin-left:4px;
  margin-bottom:22px;
  font-weight:bold;
}

.caps_label4{
  margin-left:4px;
  margin-bottom:4px;
  font-weight:bold;
}

.caps_label5{
  margin-left:4px;
  margin-bottom:8px;
  padding:0px;
}

.caps_text1{
  width:190px;
  padding:0px;
  margin-left:4px;
  margin-bottom:8px;
  border-radius:0;
}

.caps_text2{
  width:80px;
  margin-left:22px;
  margin-bottom:16px;
  padding:0px;
  border-radius:0;
}

.caps_text3{
  width:80px;
  margin-bottom:16px;
  padding:0px;
  border-radius:0;
}

.caps_select1{
  width:200px;
  margin-left:20px;
  margin-bottom:16px;
  padding:0px;
  border-radius:0;
}

.caps_select2{
  width:194px;
  margin-left:4px;
  margin-bottom:22px;
  padding:0px;
  border-radius:0;
}

.caps_select3{
  width:194px;
  margin-left:34px;
  margin-bottom:22px;
  padding:0px;
  border-radius:0;
}

.caps_select4{
  margin-left:6px;
  margin-right:6px;
  padding:0px;
  border-radius:0;
}

.caps_everything_box{
  margin-left:22px;
  margin-bottom:16px;
  font-weight:bold;
}

.caps_table{
  border-collapse:collapse;
  border-spacing:0;
  border:1px solid #b8b8b8;
  margin:0;
  padding:0;
}
.caps_table thead{
  margin:0;
  padding:0;
  background:#ebebeb;
  font:13px Arial, Helvetica, sans-serif;
  color:#333333;
}
.caps_table thead tr th{
  margin:0;
  padding:4px 4px 4px 4px;
}
.caps_table tbody{
  font:12px Arial, Helvetica, sans-serif;
  color:#333333;
}
.caps_table tbody tr td{
  margin:0;
  padding:3px 3px 3px 3px;
}


/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {

    .font_large_header{font:bold 25px Arial, Helvetica, sans-serif;  width: 95%; text-align: center}

    #maplight_logo {
        width: 95%;
    }
    #qs_title{
        padding:0;
        width:100%;
    }

    #advanced_button {
        float: inherit;
        margin-left: auto;
        margin-right: auto;
    }

    input#search_contribs {
        width: 80%
    }

    #caps_description{
        padding-bottom: 0.1em;
    }

    #caps_sidebar{
        width:100%;
    }

    .caps_title1{
        text-align: center
    }



}

/* Smartphones (landscape) ----------- */
@media only screen
and (min-width : 321px) {
    /* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 320px) {
    .font_large_header{font:bold 25px Arial, Helvetica, sans-serif; width: 100%; word-wrap: break-word;}
}

/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
    /* Styles */
}

/* iPads (landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
    /* Styles */
}

/* iPads (portrait) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
    /* Styles */
}

/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1224px) {
    /* Styles */
}

/* Large screens ----------- */
@media only screen
and (min-width : 1824px) {
    /* Styles */
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
    /* Styles */
}

