body{
  padding:8px;
}

#wrapper{
  width:100%; 
  background:#fff;
  position:relative;
  overflow:hidden;
}

#caps_header{
  display:block;
  position:relative;
  z-index:100;
  box-shadow:0px 8px 8px #a5a4a2;
}

#container{
  font:15px Arial, Helvetica, sans-serif;
  -webkit-text-size-adjust:100%;
  -ms-text-size-adjust:none;
  z-index:10;
}

#two-columns{
  margin:0;
  overflow: hidden;
}

#sidebar{
  float:left;
  padding:12px 6px 12px 6px;
  background:#ebebeb;
  width:275px;
  position:relative;
  overflow:hidden;
}

#content{
  float:left;
  overflow:hidden;
}

.caps_title1{
  font:bold 29px/40px Arial, Helvetica, sans-serif;
  color:#222;
  margin:0 0 15px;
}

.caps_header1{
  background:#e6ecf0;
  margin:8px 0 8px;
  font:bold 21px Arial, Helvetica, sans-serif;
  color:#124161;
  background:#ebebeb;
  border:0px;
}

.caps_search_btn1{
  background:#e6ecf0;
  border:2px solid #124161;
  font:bold 17px Arial, Helvetica, sans-serif;
  color:#124161;
  margin:0 0 9px;
  padding:0;
}

.caps_radio1{
  float:left;
  margin-left:12px
}

.caps_label1{
  float:left;
  margin-left:4px;
  font:bold 15px Arial, Helvetica, sans-serif;
  color:#000;
}

.info{
  position:relative;
  margin-right:4px;
  background:url(../images/sprite01.png) no-repeat 0 -15px;
  float:right;
  width:15px;
  height:16px;
}

