/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

/*::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
} MSR COMMENTED OUT 10/11/13*/

/*
 * A better looking default horizontal rule
 */

/*hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
} MSR COMMENTED OUT 10/11/13*/

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

/*.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
} MSR COMMENTED OUT 10/11/13*/

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/*
Theme Name: California Secretary of State
*/

/* =============================
   FOUNDATION
   ========================== */

/*base*/
html{background:#444 url(i/constitutional-words-large.png);background-repeat:no-repeat;background-position:center 200px;overflow-y:scroll}
body{font-size:62.5%}
footer{padding:10px 0;background:#333 url(i/poppies.png) bottom right no-repeat;border-top:10px solid #D78622;color:#FFF}

/*headers*/
h1,h2,h3,h4{margin:0;padding:0}

/*forms*/
.frmCtnr{padding:10px;margin:20px 0}
.frmCtnr.info,.nt{font-style:italic;font-size:95%}
form h2,.frmRvw h2{background:#333;color:#fff;border-bottom:2px solid #d78622;font-size:1.188em;margin:0 0 10px;padding:5px 0 5px 1%;width:99%;font-weight:700;clear:both}
.frmEdtbl{background:#eee;border:2px solid #ccc}
.frmRvw{background:#fff;border:2px solid #333}
.frmGrp{padding:10px;margin-bottom:20px}

	/*fields*/
	.curFcs{background:#fbf3e9;border:2px solid #d78622}
	.frmCtnr hr{background-color:#999;height:1px;border-width:0;margin:5px 0}
	form em{color:#981B1f;font-size:1.313em;font-style:normal;vertical-align:bottom;padding-left:2px}
	fieldset{margin:0}
	.frmGrp div{padding:5px}
	form legend{font-size:1.125em;border-bottom:1px solid #999;width:100%;margin-bottom:10px;margin-top:0}
	label{padding-right:20px;float:left;text-align:right}
	label em{font-weight:700;color:#981B1f;vertical-align:middle}
	.ctrlSet label{display:inline;float:none;padding-left:3px}
	.ctrlSetSbFrm label{display:inline;padding-left:3px}
	/*buttons*/
	.btnRow{text-align:center;margin:30px 0;font-size:1.125em}
	.btnRow a{padding:10px 25px;font-weight:700;color:#0C3C5D;border:#0C3C5D 2px solid;text-decoration:none}
	.btnRow a:link{background-color:#E6ECF0;color:#0C3C5D}
	.btnRow a:visited{background-color:#E6ECF0;color:#222}
	.btnRow a:hover{background-color:#0C3C5D;color:#fff}
	.btnRow a:active{background-color:#E6ECF0;color:#0C3C5D}
	.btnRow a:focus,.btnRow input[type="submit"]:focus{background-color:#0C3C5D;color:#fff}
	/*errors*/
	label.err,.errMsg em{color:#981B1f;font-weight:700}
	.errChkbx{background:#f5e9e9;border:2px solid #981B1f;margin:0;padding:5px}
	.errMsg{margin:0 0 20px;padding:10px;border:#981B1f 2px solid;background:#f5e9e9 url(i/icon-error.png) no-repeat}
	.errMsg h2{color:#222;background:none;border:0;padding:0}
	.sbFrm{font-size:.938em;margin:0 20px;background:#fff;padding:10px;border:1px solid #e5e5e5;display:inline;display:none}
	/*input*/
	form input.err{border-color:#981B1f;background-color:#f5e9e9}
	form input.err:focus{background-color:#FFF}
	form input:focus,form textarea:focus,form input.err:focus{border-color:#fff}
	input,textarea{border:2px solid #ccc}
	input[type=submit]/*,button*/{padding:10px 25px;background-color:#E6ECF0;font-weight:700;color:#0C3C5D;border:#0C3C5D 2px solid;text-decoration:none;font-size:110%}
	input[type=submit]:hover,button:hover{background-color:#0C3C5D;color:#fff;font-size:110%}
	input[disabled],input[readonly],.frmRvw select[disabled]{font-weight:400;color:#0c3c5d}
	textarea[readonly]{background-color:#e9e9e9}
	/*progress bar*/
	.progTrckr{text-indent:-1000em;width:300px;height:28px;margin-left:auto;margin-right:auto;margin-top:20px;margin-bottom:20px;background:url(i/progress-tracker.png) top center no-repeat}
	.stp1{background-position:0 0}
	.stp2{background-position:0 -78px}
	.stp3{background-position:0 -156px}
	.stp4{background-position:0 -234px}
	.stp5{background-position:0 -312px}
	/*review pages*/
	.frmRvw h3{font-weight:400;border-bottom:1px solid #999}
	.frmRvw dl dt{clear:left}
	.frmRvw dt{font-weight:400}
	.frmRvw dd{float:left;clear:right}
	.frmRvw dd span{background:#fff;border-bottom:2px solid #ccc;padding:3px;margin:3px;font-weight:700}
	@media only screen and (max-width: 799px) {
	.errMsg{background-position:50% 10%;padding-top:80px}
	input[type=text],input[type=email],input[type=url],input[type=password],textarea{width:100%}
	select{font-size:1.313em}
	}
	@media only screen and (min-width: 800px) {
	.frmCtnr{margin:20px}
	.errMsg{background-position:20px center}
	/*input,textarea{font-size:1.063em}*/
	.errMsg p,div.errMsg ul,.errMsg h2{margin-left:80px;font-weight:700}
    .frmTxt{padding-left:415px;padding-right:20px;text-align:right}
	}
	@media only screen and (max-width: 1000px) {
	/*.frmCtnr div span{width:100%}*/
	}

/*links*/
a{font-weight:700}
a:link{color:#0c3c5d}
a:visited{color:#444}
a:hover{color:#000;text-decoration:none}
a:active{color:#0c3c5d}
a:focus,input:focus,select:focus,textarea:focus{outline:2px solid #005dc3}
header a:focus,footer a:focus{outline:2px solid #ebc391}
a[rel="external"]{background:url(i/icon-ext-link.png) 100% 50% no-repeat;padding-right:1em;z-index:48}
a[rel="external"]:hover,a[rel="external"]:focus,a[rel="external"]:active{z-index:49}

/*tables*/
table{width:100%;margin-bottom:20px;border:1px solid #ccc}
table th,table td{padding:10px;line-height:18px;text-align:left}
table th{font-weight:700;vertical-align:middle;border:1px solid #ccc}
table td{vertical-align:top}

/*text*/
dl,p,ul,pre{margin-top:0}
dt{font-weight:700}
dd{margin:0}
hr{background-color:#D78622;height:2px;border-width:0;margin:20px 0}
ul{list-style:none;padding:0}

/*reusable*/
aside img.imgFld{margin-bottom:10px}
.bxPrim p:first-of-type,.bxAnn p:first-of-type,.bxSuppl p:first-of-type{padding:0;margin:0}
.btnLrg{font-size:1.125em;border:1px solid #dcdcdc;padding:9px 18px;text-decoration:none;background:#fff;display:inline-block}
.emphPar{font-size:1.313em}
.fileTp{font-size:.875em;padding-left:5px;color:#444}
.ftnts{font-size:.875em}
.grdGrp{margin:0 -10px}
hr.divRelatd{padding:0;border:none;color:#333;background-color:#919191}
.imgLft,.imgRt{border:1px solid #ccc;padding:5px;background:#fff}
.imgLft{float:left;margin-right:15px;margin-bottom:10px}
.imgRt{float:right;margin-left:15px}
.imgNoBrdr{border:none}
.bxNoJs{background-color:#f5e9e9;padding:5px 10px}
ul.blts{list-style:disc outside none;padding-left:20px}
ul.blts ul{margin:0 1.5em 1.5em;list-style-type:circle}
ul.blts ul ul{list-style:square}
.parLst li{display:inline;list-style-type:none;padding-right:5px}
.specChar{font-size:110%;font-weight:700}
.togBtn span{display:none}
.txtCtr{text-align:center}
.txtLft{text-align:left}
.txtBtm{vertical-align:bottom}
.txtRt{text-align:right}
.txtUndrln{text-decoration:underline}
.dblSpc li,.dblSpc dt,.dblSpc dd{margin-bottom:10px}
.lstBrk{margin-bottom:1em}
.txtSml{font-size:.938em}
.rd{color:#981B1f}
.rdBld{color:#981B1f;font-weight:bold}
.inactive,.inactive td,.inactive tr{background:#f5e9e9}
.bckToTop{font-size:.938em}
.lessEmph{font-size:.938em}
.noBld{font-weight:normal!important}

/*foreign languages*/
ul.langLst{-moz-column-count:2;-moz-column-gap:5px;-webkit-column-count:2;-webkit-column-gap:5px;column-count:2;column-gap:5px}
.langLst li{margin-bottom:5px}
.txtKhmer{font-family:'Battambang',cursive;font-weight:400;font-size:100%;line-height:1.5em}
.txtKhmer h1{line-height:1.5em}
.txtThai{font-size:115%;font-weight:400}
.txtHindi{font-family:Mangal}
.txtEnglish{font-family:Arial,Helvetica,sans-serif;font-size:100%}
.txtEnglish{font-size:90%}
.txtThai{font-size:120%;font-weight:normal}

/* =============================
   STRUCTURE / ALIGNMENTS
   ========================== */

/*base ids and classes*/
#bnrCtnr{padding-top:20px;border-top:2px solid #D78622}
#cpyrght{padding:20px}
#crmbs{padding-bottom:10px}
#mainContCtnr{background:#fff url(i/nav-accent.jpg) top no-repeat;padding:20px 0 1px}
#mainNavCtnd{/*max-width:1200px;*/margin:0 auto}
#mainNavCtnr{background:url(i/bg-nav.jpg) top center no-repeat}
.srchInptSbmt,.srchInptTxt{width:100%}
.srchInptTxtCtnr{overflow:hidden;padding-right:.5em}
.ssMedia{position:relative;top:8px}
#utl{background:#222;width:100%;clear:both;padding:5px 0;font-size:.938em;color:#fff}
#utl ul li a:focus{color:#fff;background-color:#714612}
#utlFtr{margin:0;padding:0;text-align:right}
#utlFtr ul{float:right;width:100%}
#utlFtr li{display:inline!important;width:100%}
.dtDdAlgnd dt{float:left}
.dtDdAlgnd dl{clear:both;display:block}

/* =============================
   TYPOGRAPHY
   ========================== */

/*base ids and classes*/
#cpyrght{text-align:center}
#crmbs{font-size:.813em;font-weight:700}

/*headers*/
aside h2{font-size:1.125em;padding:5px}
footer h2{margin-top:10px}

/*lists*/
#cpyrght li a{display:inline}
#cpyrght ul,#utl ul,#crmbs ul,footer ul{margin:0}
#cpyrght li,#utl li{display:inline;padding:0 5px}
#cpyrght li:last-child,#utl li:last-child{border-right:0!important}
#crmbs ul li{padding-left:10px;display:inline}
#crmbs ul li.first{margin-left:-10px;background:none}
.sbNav{list-style-type:none;margin:0 0 20px;font-weight:700}
.sbNav ul{margin:0}
.sbNav li{margin-top:1px}
.sbNav ul li ul li a{font-weight:normal}
li.here,li.hereUmbr{padding:.5em}
li.here ul,li.hereUmbr ul{margin:7px -6px -6px -5px;display:block}

li.here ul li ul,li.hereUmbr ul li ul{margin:0}

/*media advisories
.indnt dl{clear:both;display:block}
.indnt dt{float:left;clear:left;width:125px;text-align:right}
.indnt dd{margin: 0 0 0 135px;padding:0 0 .5em}
.indnt li{margin-left:40px}*/
.noIndnt,
.noIndnt dt,.noIndnt dd{margin-left:-40px}
ol.noIndnt{margin-left:-20px!important}
.togCont ul li,#tabs ul li,
/*.bxAnn ul li,.bxSuppl ul li,.bxAlrt ul li,*/
.sbNav ul li{margin-left:0!important}
div.bxAnn ul.noIndnt,div.bxSuppl ul.noIndnt,div.bxAlrt ul.noIndnt{margin-left:-20px!important}

#mainCont li,#mainCont dl{margin-left:40px}

/*links*/
a.togLnk{font-size:.75em;text-decoration:none}
aside h2 a:link,aside h2 a:visited{text-decoration:none}
#bnrCtnr{font-weight:700}
#mainCont a:active,.btnLrg:active{position:relative;top:1px}
#crmbs a:visited{text-decoration:underline}
#crmbs a:hover{text-decoration:none}
.sbNav a{display:block;text-decoration:none}
.sbNav li a{padding:.5em}
.sbNav li ul li a{padding-left:20px}
.sbNav li ul li a:hover{padding-left:15px}

/* =============================
   COLOR
   ========================== */

/*base*/
#bnrCtnr{background:#212121 url(i/banner.jpg) top center no-repeat}
.srchCtnr{background:#222;color:#fff}

/*headers*/
aside h2{background:#333;color:#FFF;border-bottom:2px solid #D78622}

/*forms*/
.srch input[type=text]{color:#333;border:1px solid #d78622;background:#fff}
.srch input[type=text]:focus{background:#fff}
.srch input[type=submit]{background:#222;border:0;color:#fff;padding:2px;font-weight:700}

/*lists*/
.btnLrg:hover{background:#f5f5f5}
.btnLrg:focus{background:#f5e1c8;color:#222}
#crmbs li{background:url(i/breadcrumb.jpg) left no-repeat}
li.here{background:#ebc391}
.sbNav li ul{background:#c2ced6}
#utl li,#cpyrght li{border-right:1px solid #D78622}
li.hereUmbr{background:#e7ecef}

/*links*/
a.togLnk{color:#fff}
aside h2 a:link,#bnrCtnr a:link{color:#FFF}
aside h2 a:visited,#bnrCtnr a:visited{color:#ebebeb}
aside h2 a:hover,#bnrCtnr a:hover{color:#fbf3e9}
aside h2 a:active,#bnrCtnr a:active,#bnrCtnr a:focus{color:#FFF}
#crmbs a:link{color:#222}
#crmbs a:visited{color:#333}
#crmbs a:hover{color:#333}

#crmbs a:active{color:#444}
.sbNav li a{background:#e7ecef}
.sbNav li a:hover{background:#f5e1c8}
.sbNav li ul li a{background:#f5f5f5}
.sbNav li ul li a:hover{background:#f5e1c8;border-left:5px #D78622 solid;color:#333}
.sbNav li a.active{background:#c2ced6}
#utl a:link,footer a:link{color:#ebebeb}
#utl a:visited,footer a:visited{color:#ccc}
#utl a:hover,footer a:hover{color:#fff}
#utl a:active,footer a:active{color:#ebebeb}
#utl a:focus,footer a:focus{color:#fbf3e9}

/*tables*/
table th + th, table td + td{border/*-left*/:1px solid #ccc}
table tr + tr td{border:1px solid #ccc}
table tbody tr.oddRw th,table tbody tr.oddRw td{background-color:#f5f5f5}
table thead th{background:#E7ECEF}
table tbody th,table tbody td{background:#fff}
table tfoot th,table tfoot td{border-top:2px solid #919191;background:#ebebeb}
table tfoot tr.total th,table tfoot tr.total td{border-top:6px double #919191}

/* =========================
   CALLOUTS
   ========================= */

div.addthis_toolbox{margin-bottom:20px}

/*bases*/
.bxAlrt,.bxAnn,.bxSuppl,.catlgLnks,.featrdLnks,.bxPrim,.bxScnd{margin:0 0 20px}
.bxAlrt,.bxAnn,.bxSuppl{border-bottom:1px}
	/*unique*/
	.bxAlrt{background:#f5e1c8;border-color:#dbd1c4}
	.bxAnn{background:#E7ECEF;border-color:#c2ced6}
	.bxSuppl{background:#ebebeb;border-color:#ccc}
	.featrdLnks{background:#E7ECEF}

/*headers*/
.bxAlrt h2,.bxAnn h2,.bxSuppl h2,.catlgLnks h2,.featrdLnks h2,.bxPrim h2,.bxScnd h2{padding:5px;color:#fff;border-bottom:2px solid}
.bxAlrt h3,.bxAnn h3,.bxSuppl h3,.bxPrim h3,.bxScnd h3{padding:5px 5px 0;margin-bottom:0}
.bxAlrt h2 a,.bxAnn h2 a,.bxSuppl h2 a{text-decoration:none;display:block}
	/*unique*/
	.bxAlrt h2{background:#714612;border-color:#b8a389}
	.bxAnn h2{background:#0c3c5d;border-color:#869eae}
	.bxSuppl h2{background:#333;border-color:#999}
	.catlgLnks h2{background:#0C3C5D;border-color:#d78622}
	.featrdLnks h2{background:#444;border-color:#222}
	.bxPrim h2{background:#222;border-color:#d78622}
	.bxScnd h2{background:#0C3C5D;border-color:#d78622}

/*text*/
aside .catlgLnks img.imgFld,.bxPrim img.imgFld,.bxScnd img.imgFld{margin-bottom:0}
.bxAlrt img,.bxAlrt p,.bxAlrt ul,
/*.bxAnn img,*/.bxAnn p,.bxAnn ul,
/*.bxSuppl img,*/.bxSuppl p,.bxSuppl ul,
.bxPrim p,.bxScnd p,
.bxPrim dl,.bxScnd dl,.bxSuppl form{padding:5px 5px 10px;margin:0}
.catlgLnks ul,.bxPrim ul,.bxScnd ul{margin:0}
	/*unique*/
	.bxPrim div.togCont{border:1px solid #d78622;border-top:0}
	.bxScnd div.togCont{border:2px solid #E7ECEF}
.myVt h3,.myVt p{padding:0}
.myVt ul li{margin-left:0!important}

/*links*/
.catlgLnks ul li a,.featrdLnks ul li a{padding:5px;display:block;text-decoration:none}
	/*unique*/
	.catlgLnks li a{border-bottom:1px solid #ededed}
	.catlgLnks li a:link{background:#fff}
	.catlgLnks li a:visited{color:#333}
	.catlgLnks li a:hover{background:#ededed;color:#222}
	.catlgLnks li a:active{background:#fff}
	.catlgLnks li a:focus{background:#f5f5f5}
	.featrdLnks li a{border-bottom:1px solid #fff}
	.featrdLnks li a:link{background:#ededed;border-bottom:1px solid #fff}
	.featrdLnks li a:visited{color:#333}
	.featrdLnks li a:hover{background:#f5f5f5;color:#222}
	.featrdLnks li a:active{background:#ededed}
	.featrdLnks li a:focus{background:#fff}
.bxPrim ul a,.bxScnd ul a{display:block;text-decoration:none;padding:5px}
.bxPrim ul a:hover,.bxScnd ul a:hover{background:#fff}
.bxPrim li a:hover,.bxScnd li a:hover{background:#ebebeb}
	/*unique*/
	.bxPrim li a:link{background:#f5e1c8;color:#222}
	.bxPrim li a:visited{background:#f5e1c8;color:#333}
	.bxPrim li a:hover{background:#ebc391}
	.bxPrim li a:active,.bxPrim li a:focus{background:#f5e1c8;color:#222}
	.bxScnd li a:link{background:#E7ECEF;color:#0c3c5d}
	.bxScnd li a:visited{background:#E7ECEF;color:#333}
	.bxScnd li a:hover{background:#c2ced6;color:#222}
	.bxScnd li a:active,.bxScnd li a:focus{background:#E7ECEF;color:#0c3c5d}

/*footer*/
	.btnGrpInline li{display:inline}

	#utlFtr li a{border:1px solid #333;padding:2.5%;text-decoration:none;background:#222;display:inline-block;position:relative;top:6px}
	#utlFtr li a:hover{background:#000}
	#utlFtr li a:focus{background:#714612;color:#fff}

	hr.divRelatd2{padding:0;border:none;color:#333;background-color:#222}
	@media only screen and (max-width: 699px) {
	#utlFtr{margin-top:20px;padding-right:3px}
	#utlFtr li a{width:95%;text-align:center}
	}

/* =============================
   UNSEMANTIC GRID
   ========================== */
/* ============================================ */
/* This file has a mobile-to-desktop breakpoint */
/* ============================================ */

@media screen {
  .clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
  }

  .grid-container:before, .clearfix:before,
  .grid-container:after,
  .clearfix:after {
    content: ".";
    display: block;
    overflow: hidden;
    visibility: hidden;
    font-size: 0;
    line-height: 0;
    width: 0;
    height: 0;
  }

  .grid-container:after, .clearfix:after {
    clear: both;
  }

  .grid-container, .clearfix {
  }

  .grid-container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
    /*max-width: 1200px;*/
  }

  .grid-5, .mobile-grid-5, .grid-10, .mobile-grid-10, .grid-15, .mobile-grid-15, .grid-20, .mobile-grid-20, .grid-25, .mobile-grid-25, .grid-30, .mobile-grid-30, .grid-35, .mobile-grid-35, .grid-40, .mobile-grid-40, .grid-45, .mobile-grid-45, .grid-50, .mobile-grid-50, .grid-55, .mobile-grid-55, .grid-60, .mobile-grid-60, .grid-65, .mobile-grid-65, .grid-70, .mobile-grid-70, .grid-75, .mobile-grid-75, .grid-80, .mobile-grid-80, .grid-85, .mobile-grid-85, .grid-90, .mobile-grid-90, .grid-95, .mobile-grid-95, .grid-100, .mobile-grid-100, .grid-33, .mobile-grid-33, .grid-66, .mobile-grid-66 {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
  }
  .grid-5 > *, .mobile-grid-5 > *, .grid-10 > *, .mobile-grid-10 > *, .grid-15 > *, .mobile-grid-15 > *, .grid-20 > *, .mobile-grid-20 > *, .grid-25 > *, .mobile-grid-25 > *, .grid-30 > *, .mobile-grid-30 > *, .grid-35 > *, .mobile-grid-35 > *, .grid-40 > *, .mobile-grid-40 > *, .grid-45 > *, .mobile-grid-45 > *, .grid-50 > *, .mobile-grid-50 > *, .grid-55 > *, .mobile-grid-55 > *, .grid-60 > *, .mobile-grid-60 > *, .grid-65 > *, .mobile-grid-65 > *, .grid-70 > *, .mobile-grid-70 > *, .grid-75 > *, .mobile-grid-75 > *, .grid-80 > *, .mobile-grid-80 > *, .grid-85 > *, .mobile-grid-85 > *, .grid-90 > *, .mobile-grid-90 > *, .grid-95 > *, .mobile-grid-95 > *, .grid-100 > *, .mobile-grid-100 > *, .grid-33 > *, .mobile-grid-33 > *, .grid-66 > *, .mobile-grid-66 > * {
  }

  .grid-parent {
    padding-left: 0;
    padding-right: 0;
  }

  body {
    min-width: 320px;
  }
}
@media screen and (max-width: 767px) {
  .mobile-grid-100:before,
  .mobile-grid-100:after {
    content: ".";
    display: block;
    overflow: hidden;
    visibility: hidden;
    font-size: 0;
    line-height: 0;
    width: 0;
    height: 0;
  }

  .mobile-grid-100:after {
    clear: both;
  }

  .mobile-grid-100 {
  }

  .mobile-push-5,
  .mobile-pull-5, .mobile-push-10,
  .mobile-pull-10, .mobile-push-15,
  .mobile-pull-15, .mobile-push-20,
  .mobile-pull-20, .mobile-push-25,
  .mobile-pull-25, .mobile-push-30,
  .mobile-pull-30, .mobile-push-35,
  .mobile-pull-35, .mobile-push-40,
  .mobile-pull-40, .mobile-push-45,
  .mobile-pull-45, .mobile-push-50,
  .mobile-pull-50, .mobile-push-55,
  .mobile-pull-55, .mobile-push-60,
  .mobile-pull-60, .mobile-push-65,
  .mobile-pull-65, .mobile-push-70,
  .mobile-pull-70, .mobile-push-75,

  .mobile-pull-75, .mobile-push-80,
  .mobile-pull-80, .mobile-push-85,
  .mobile-pull-85, .mobile-push-90,
  .mobile-pull-90, .mobile-push-95,
  .mobile-pull-95, .mobile-push-33,
  .mobile-pull-33, .mobile-push-66,
  .mobile-pull-66 {
    position: relative;
  }

  .hide-on-mobile {
    display: none !important;
  }

  .mobile-grid-5 {
    float: left;
    width: 5%;
  }

  .mobile-prefix-5 {
    margin-left: 5%;
  }

  .mobile-suffix-5 {
    margin-right: 5%;
  }

  .mobile-push-5 {
    left: 5%;
  }

  .mobile-pull-5 {
    left: -5%;
  }

  .mobile-grid-10 {
    float: left;
    width: 10%;
  }

  .mobile-prefix-10 {
    margin-left: 10%;
  }

  .mobile-suffix-10 {
    margin-right: 10%;
  }

  .mobile-push-10 {
    left: 10%;
  }

  .mobile-pull-10 {
    left: -10%;
  }

  .mobile-grid-15 {
    float: left;
    width: 15%;
  }

  .mobile-prefix-15 {
    margin-left: 15%;
  }

  .mobile-suffix-15 {
    margin-right: 15%;
  }

  .mobile-push-15 {
    left: 15%;
  }

  .mobile-pull-15 {
    left: -15%;
  }

  .mobile-grid-20 {
    float: left;
    width: 20%;
  }

  .mobile-prefix-20 {
    margin-left: 20%;
  }

  .mobile-suffix-20 {
    margin-right: 20%;
  }

  .mobile-push-20 {
    left: 20%;
  }

  .mobile-pull-20 {
    left: -20%;
  }

  .mobile-grid-25 {
    float: left;
    width: 25%;
  }

  .mobile-prefix-25 {
    margin-left: 25%;
  }

  .mobile-suffix-25 {
    margin-right: 25%;
  }

  .mobile-push-25 {
    left: 25%;
  }

  .mobile-pull-25 {
    left: -25%;
  }

  .mobile-grid-30 {
    float: left;

    width: 30%;
  }

  .mobile-prefix-30 {
    margin-left: 30%;
  }

  .mobile-suffix-30 {
    margin-right: 30%;
  }

  .mobile-push-30 {
    left: 30%;
  }

  .mobile-pull-30 {
    left: -30%;
  }

  .mobile-grid-35 {
    float: left;
    width: 35%;
  }

  .mobile-prefix-35 {
    margin-left: 35%;
  }

  .mobile-suffix-35 {
    margin-right: 35%;
  }

  .mobile-push-35 {
    left: 35%;
  }

  .mobile-pull-35 {
    left: -35%;
  }

  .mobile-grid-40 {
    float: left;
    width: 40%;
  }

  .mobile-prefix-40 {
    margin-left: 40%;
  }

  .mobile-suffix-40 {
    margin-right: 40%;
  }

  .mobile-push-40 {
    left: 40%;
  }

  .mobile-pull-40 {
    left: -40%;
  }

  .mobile-grid-45 {
    float: left;
    width: 45%;
  }

  .mobile-prefix-45 {
    margin-left: 45%;
  }

  .mobile-suffix-45 {
    margin-right: 45%;
  }

  .mobile-push-45 {
    left: 45%;
  }

  .mobile-pull-45 {
    left: -45%;
  }

  .mobile-grid-50 {
    float: left;
    width: 50%;
  }

  .mobile-prefix-50 {
    margin-left: 50%;
  }

  .mobile-suffix-50 {
    margin-right: 50%;
  }

  .mobile-push-50 {
    left: 50%;
  }

  .mobile-pull-50 {
    left: -50%;
  }


  .mobile-grid-55 {
    float: left;
    width: 55%;
  }

  .mobile-prefix-55 {
    margin-left: 55%;
  }

  .mobile-suffix-55 {
    margin-right: 55%;
  }

  .mobile-push-55 {
    left: 55%;
  }

  .mobile-pull-55 {
    left: -55%;
  }

  .mobile-grid-60 {
    float: left;
    width: 60%;
  }

  .mobile-prefix-60 {
    margin-left: 60%;
  }

  .mobile-suffix-60 {
    margin-right: 60%;
  }

  .mobile-push-60 {
    left: 60%;
  }

  .mobile-pull-60 {
    left: -60%;
  }

  .mobile-grid-65 {
    float: left;
    width: 65%;
  }

  .mobile-prefix-65 {
    margin-left: 65%;
  }

  .mobile-suffix-65 {
    margin-right: 65%;
  }

  .mobile-push-65 {
    left: 65%;
  }

  .mobile-pull-65 {
    left: -65%;
  }

  .mobile-grid-70 {
    float: left;
    width: 70%;
  }

  .mobile-prefix-70 {
    margin-left: 70%;
  }

  .mobile-suffix-70 {
    margin-right: 70%;
  }

  .mobile-push-70 {
    left: 70%;
  }

  .mobile-pull-70 {
    left: -70%;
  }

  .mobile-grid-75 {
    float: left;
    width: 75%;
  }

  .mobile-prefix-75 {
    margin-left: 75%;
  }

  .mobile-suffix-75 {
    margin-right: 75%;
  }

  .mobile-push-75 {
    left: 75%;
  }

  .mobile-pull-75 {
    left: -75%;
  }

  .mobile-grid-80 {
    float: left;
    width: 80%;
  }

  .mobile-prefix-80 {
    margin-left: 80%;
  }

  .mobile-suffix-80 {
    margin-right: 80%;
  }

  .mobile-push-80 {
    left: 80%;
  }

  .mobile-pull-80 {
    left: -80%;
  }

  .mobile-grid-85 {
    float: left;
    width: 85%;
  }

  .mobile-prefix-85 {
    margin-left: 85%;
  }

  .mobile-suffix-85 {
    margin-right: 85%;
  }

  .mobile-push-85 {
    left: 85%;
  }

  .mobile-pull-85 {
    left: -85%;
  }

  .mobile-grid-90 {
    float: left;
    width: 90%;
  }

  .mobile-prefix-90 {
    margin-left: 90%;
  }

  .mobile-suffix-90 {
    margin-right: 90%;
  }

  .mobile-push-90 {
    left: 90%;
  }

  .mobile-pull-90 {
    left: -90%;
  }

  .mobile-grid-95 {
    float: left;
    width: 95%;
  }

  .mobile-prefix-95 {
    margin-left: 95%;

  }

  .mobile-suffix-95 {
    margin-right: 95%;
  }

  .mobile-push-95 {
    left: 95%;
  }

  .mobile-pull-95 {
    left: -95%;
  }

  .mobile-grid-33 {
    float: left;
    width: 33.33333%;
  }

  .mobile-prefix-33 {
    margin-left: 33.33333%;
  }

  .mobile-suffix-33 {
    margin-right: 33.33333%;
  }

  .mobile-push-33 {
    left: 33.33333%;
  }

  .mobile-pull-33 {
    left: -33.33333%;
  }

  .mobile-grid-66 {
    float: left;
    width: 66.66667%;
  }

  .mobile-prefix-66 {
    margin-left: 66.66667%;
  }

  .mobile-suffix-66 {
    margin-right: 66.66667%;
  }

  .mobile-push-66 {
    left: 66.66667%;
  }

  .mobile-pull-66 {
    left: -66.66667%;
  }

  .mobile-grid-100 {
    clear: both;
    width: 100%;
  }
}
@media screen and (min-width: 767px) {
  .grid-100:before,
  .grid-100:after {
    content: ".";
    display: block;
    overflow: hidden;
    visibility: hidden;
    font-size: 0;
    line-height: 0;
    width: 0;
    height: 0;
  }

  .grid-100:after {
    clear: both;
  }

  .grid-100 {
  }

  .push-5,
  .pull-5, .push-10,
  .pull-10, .push-15,
  .pull-15, .push-20,
  .pull-20, .push-25,
  .pull-25, .push-30,
  .pull-30, .push-35,
  .pull-35, .push-40,
  .pull-40, .push-45,
  .pull-45, .push-50,
  .pull-50, .push-55,
  .pull-55, .push-60,
  .pull-60, .push-65,
  .pull-65, .push-70,
  .pull-70, .push-75,
  .pull-75, .push-80,
  .pull-80, .push-85,
  .pull-85, .push-90,
  .pull-90, .push-95,
  .pull-95, .push-33,
  .pull-33, .push-66,
  .pull-66 {
    position: relative;
  }

  .hide-on-desktop {
    display: none !important;
  }

  .grid-5 {
    float: left;
    width: 5%;
  }

  .prefix-5 {
    margin-left: 5%;
  }

  .suffix-5 {
    margin-right: 5%;
  }

  .push-5 {
    left: 5%;
  }

  .pull-5 {
    left: -5%;
  }

  .grid-10 {
    float: left;
    width: 10%;
  }

  .prefix-10 {
    margin-left: 10%;
  }

  .suffix-10 {
    margin-right: 10%;
  }

  .push-10 {
    left: 10%;
  }

  .pull-10 {
    left: -10%;
  }

  .grid-15 {
    float: left;
    width: 15%;
  }

  .prefix-15 {
    margin-left: 15%;
  }

  .suffix-15 {
    margin-right: 15%;
  }

  .push-15 {
    left: 15%;
  }

  .pull-15 {
    left: -15%;
  }

  .grid-20 {
    float: left;
    width: 20%;
  }

  .prefix-20 {
    margin-left: 20%;
  }

  .suffix-20 {
    margin-right: 20%;
  }

  .push-20 {
    left: 20%;
  }

  .pull-20 {
    left: -20%;
  }

  .grid-25 {
    float: left;
    width: 25%;
  }

  .prefix-25 {
    margin-left: 25%;
  }

  .suffix-25 {
    margin-right: 25%;
  }

  .push-25 {
    left: 25%;
  }

  .pull-25 {
    left: -25%;
  }

  .grid-30 {
    float: left;
    width: 30%;
  }

  .prefix-30 {
    margin-left: 30%;
  }

  .suffix-30 {
    margin-right: 30%;
  }

  .push-30 {
    left: 30%;
  }

  .pull-30 {
    left: -30%;
  }

  .grid-35 {
    float: left;
    width: 35%;
  }

  .prefix-35 {

    margin-left: 35%;
  }

  .suffix-35 {
    margin-right: 35%;
  }

  .push-35 {
    left: 35%;
  }

  .pull-35 {
    left: -35%;
  }

  .grid-40 {
    float: left;
    width: 40%;
  }

  .prefix-40 {
    margin-left: 40%;
  }

  .suffix-40 {
    margin-right: 40%;
  }

  .push-40 {
    left: 40%;
  }

  .pull-40 {
    left: -40%;
  }

  .grid-45 {
    float: left;
    width: 45%;
  }

  .prefix-45 {
    margin-left: 45%;
  }

  .suffix-45 {
    margin-right: 45%;
  }

  .push-45 {
    left: 45%;
  }

  .pull-45 {
    left: -45%;
  }

  .grid-50 {
    float: left;
    width: 50%;
  }

  .prefix-50 {
    margin-left: 50%;
  }

  .suffix-50 {
    margin-right: 50%;
  }

  .push-50 {
    left: 50%;
  }

  .pull-50 {
    left: -50%;
  }

  .grid-55 {
    float: left;
    width: 55%;
  }

  .prefix-55 {
    margin-left: 55%;
  }

  .suffix-55 {
    margin-right: 55%;
  }

  .push-55 {
    left: 55%;

  }

  .pull-55 {
    left: -55%;
  }

  .grid-60 {
    float: left;
    width: 60%;
  }

  .prefix-60 {
    margin-left: 60%;
  }

  .suffix-60 {
    margin-right: 60%;
  }

  .push-60 {
    left: 60%;
  }

  .pull-60 {
    left: -60%;
  }

  .grid-65 {
    float: left;
    width: 65%;
  }

  .prefix-65 {
    margin-left: 65%;
  }

  .suffix-65 {
    margin-right: 65%;
  }

  .push-65 {
    left: 65%;
  }

  .pull-65 {
    left: -65%;
  }

  .grid-70 {
    float: left;
    width: 70%;
  }

  .prefix-70 {
    margin-left: 70%;
  }

  .suffix-70 {
    margin-right: 70%;
  }

  .push-70 {
    left: 70%;
  }

  .pull-70 {
    left: -70%;
  }

  .grid-75 {
    float: left;
    width: 75%;
  }

  .prefix-75 {
    margin-left: 75%;
  }

  .suffix-75 {
    margin-right: 75%;
  }

  .push-75 {
    left: 75%;
  }

  .pull-75 {
    left: -75%;
  }

  .grid-80 {
    float: left;
    width: 80%;
  }

  .prefix-80 {
    margin-left: 80%;
  }

  .suffix-80 {
    margin-right: 80%;
  }

  .push-80 {
    left: 80%;
  }

  .pull-80 {
    left: -80%;
  }

  .grid-85 {
    float: left;
    width: 85%;
  }

  .prefix-85 {
    margin-left: 85%;
  }

  .suffix-85 {
    margin-right: 85%;
  }

  .push-85 {
    left: 85%;
  }

  .pull-85 {
    left: -85%;
  }

  .grid-90 {
    float: left;
    width: 90%;
  }

  .prefix-90 {
    margin-left: 90%;
  }

  .suffix-90 {
    margin-right: 90%;
  }

  .push-90 {
    left: 90%;
  }

  .pull-90 {
    left: -90%;
  }

  .grid-95 {
    float: left;
    width: 95%;
  }

  .prefix-95 {
    margin-left: 95%;
  }

  .suffix-95 {
    margin-right: 95%;
  }

  .push-95 {
    left: 95%;
  }

  .pull-95 {
    left: -95%;
  }

  .grid-33 {
    float: left;
    width: 33.33333%;
  }

  .prefix-33 {
    margin-left: 33.33333%;
  }

  .suffix-33 {
    margin-right: 33.33333%;
  }

  .push-33 {
    left: 33.33333%;
  }

  .pull-33 {
    left: -33.33333%;
  }

  .grid-66 {
    float: left;
    width: 66.66667%;
  }

  .prefix-66 {
    margin-left: 66.66667%;
  }

  .suffix-66 {
    margin-right: 66.66667%;
  }

  .push-66 {
    left: 66.66667%;
  }

  .pull-66 {
    left: -66.66667%;
  }

  .grid-100 {
    clear: both;
    width: 100%;
  }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

/*.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
} MSR COMMENTED OUT 10/11/13*/

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    /*border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px; commented out by msr on 1/3/2014 as per CSU recommendation*/
	
	/*the following was recommended by CSU for "visually hiding content that will be read by a screen reader*/
	position:absolute;
	left:-10000px;
	top:auto;
	width:1px;
	height:1px;
	overflow:hidden
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

/*.clearfix:before,
.clearfix:after {
    content: " ";MSR COMMENTED OUT 10/11/13*/ /* 1 */
    /*display: table;MSR COMMENTED OUT 10/11/13*/ /* 2 */
/*}MSR COMMENTED OUT 10/11/13*/

/*.clearfix:after {
    clear: both;
} MSR COMMENTED OUT 10/11/2013*/

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

/*.clearfix {

    *zoom: 1;
}MSR COMMENTED OUT 10/11/13*/

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

/*@media only screen and (min-width: 35em) {MSR COMMENTED OUT 10/11/13*/
    /* Style adjustments for viewports that meet the condition */
/*}MSR COMMENTED OUT 10/11/13*/

/*@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {MSR COMMENTED OUT 10/11/13*/
    /* Style adjustments for high resolution devices */
/*}MSR COMMENTED OUT 10/11/13*/

@media only screen and (max-width: 699px) {
	/*max-width: 699px*/
	body{font-size:75%}
	#cpyrght{margin:20px 0}
	.dsktpOnly,.togCont,#mainNavTogCont,#srchTogCont{display:none}
	img {vertical-align:top}
	img.imgFld{width:100%}
	/*ids and classes*/
	.addthis_toolbox{margin-bottom:20px}
	#bnrCtnr{height:75px}
	#bnrLgoTxt{background:url(i/seal-small.png) top left no-repeat;background-size:contain;background-position:30px;height:60px;vertical-align:middle;display:table-cell;padding:0 0 0 110px;z-index:2}
	#bnrSOS{background:url(i/sos-small.png) top left no-repeat;background-size:contain;height:100px;width:90%;z-index:9999;margin-top:-80px;margin-left:0}
	#cpyrght{background-color:rgba(0,0,0,.60)}
	/*.js #nav{max-height:0;position:absolute;display:block;overflow:hidden}*/
	#mainCont{margin-bottom:20px}
	.nav-grid-srch{padding:20px 0px 5px 0px}
	/*.srchCtnr nav{padding:0;background:#222;clear:both}*/
	#utl{min-height:30px;text-align:center}
	.srchTogBtn,.mainNavTogBtn{float:right;width:30px;position:absolute}
		/*unique*/
		.srchTogBtn{top:18px;right:0}
		.mainNavTogBtn{left:10px;top:18px}
		.mainNavTogBtn a{background:url(i/icon-menu.png) no-repeat;padding:10px 10px 0 15px}
		.srchTogBtn a{background:url(i/icon-search.png) no-repeat;padding:10px 10px 0 15px}
	/*headers*/
	#bnrCtnr{font-size:1.5em;margin:0;padding-right:30px;line-height:1.125em;color:#fff}
	/*lists*/
	.btns li{display:inline;width:48%;padding:1%;float:left;font-size:1.063em}
	.btns ul{width:100%}
	#nav ul{text-align:left}
	#nav ul{margin:0;padding:0;width:100%;display:block;list-style:none;background:#333;color:#fff}
	#nav li{width:100%}
	#nav.opened{max-height:9999px}
	#utl ul{padding-top:5px}
	ul.tabsList{margin-bottom:5px;line-height:2.5em}
	/*links*/
	.btns li a{height:50px;text-align:center;top:50%}
	.catlgLnks .btns,.bxPrim .btns,.bxScnd .btns{margin-top:5px}
	.catlgLnks .btns li a:link{background:#E7ECEF}
	.catlgLnks .btns li a:visited{background:#fbf3e9}
	.catlgLnks .btns li a:hover{background:#ebebeb}
	.catlgLnks .btns li a:focus{background:#fff}
	.catlgLnks .btns li a:active{background:#E7ECEF}
	footer ul a{display:block;text-decoration:none}
	footer ul li a{padding:5px}
	footer ul li ul li a:hover{border-left:5px #D78622 solid;padding-left:15px;color:#0c3c5d}
	footer .btns li a:link{background:#444}
	footer .btns li a:visited{background:#222}
	footer .btns li a:hover{background:#919191}
	footer .btns li a:focus{background:#714612}
	footer .btns li a:active{background:#444}
	#nav ul li a{text-decoration:none;display:block;padding:10px}
	#nav ul li a:link{color:#fff}
	#nav ul li a:visited{color:#f5e1c8}
	#nav ul li a:hover{color:#f5e1c8;background-color:#000}
	#nav ul li a:active{color:#fff}
	#nav ul li a:focus{background-color:#714612}
	.tabsList li.cur a{top:3px;font-weight:700;color:#222;background:#f3f6f7;text-decoration:none;border:3px solid #0c3c5d}
	.tabsList li.cur a:hover,.tabsList li.cur a:focus{color:#222;background-color:#f3f6f7}
	ul.tabsList li a{padding:5px}
	.togBtn{background:url(i/icon-arrow-up-down.png) no-repeat;padding:6px 14px}
	footer h3{padding:5px}
}
@media only screen and (min-width: 700px) {
	/*min-width: 700px*/
	body{font-size:85%}
	/*bases*/
	img.imgFld{width:100%}
	#bnrCtnr{min-height:100px}
	#bnrLgoTxt{background:url(i/seal-small.png) top left no-repeat;/*background-size:contain;*/background-position:30px;height:85px;vertical-align:middle;display:table-cell;padding-left:130px}
	#bnrSOS{background:url(i/sos-small.png) top left no-repeat;background-size:contain;height:115px;width:90%;z-index:9999;margin-top:-100px;margin-left:0}
	footer{border-bottom:10px solid #222;margin-top:0;font-size:.875em}
	.frme{/*border-left:10px solid #222;border-right:10px solid #222;max-width:1200px;*/margin-left:auto;margin-right:auto;background:#fff}
	.js #nav{position:relative}
	.js #nav.closed{max-height:none}
	#mainNavCtnd{/*border-left:10px solid #222;*/color:#FFF/*;border-right:10px solid #222*/}
	#mainCont{margin-bottom:20px}
	#nav{border-top:2px solid #d78622;border-bottom:2px solid #d78622;background-color:#333}
	#nav{width:auto}
	.mblOnly{display:none}
	.srch{padding:2px;background:#222}
	.mainNavTogBtn,.srchTogBtn,a.togLnk{display:none}
	/*headers*/
	#bnrCtnr{margin:0;line-height:1em;font-size:2em;color:#fff}
	.catlgLnks h2,.featrdLnks h2,.bxPrim h2,.bxScnd h2{font-size:1.125em}
	/*lists*/
	footer ul li{font-size:1.125em}
	footer ul{margin:1em 0;padding:0}
	footer ul li{line-height:2em}
	#nav ul{list-style:none;padding:5px 0;margin:0} 
	#nav ul li{display:inline}
	#nav li{white-space:nowrap}
	/*links*/
	a.mblOnly{display:none}
	footer ul li a{padding:0;display:block}
	#nav ul li a{display:inline;line-height:2em;text-decoration:none;padding:10px 5px}
	#nav ul li a:link{color:#fbf3e9}
	#nav ul li a:visited{color:#ededed}
	#nav ul li a:hover{color:#fff;background-color:#000}
	#nav ul li a:active{color:#fbf3e9}
	#nav ul li a:focus{color:#fff;background-color:#714612}
	.hmLnk a{background:url(i/home.png) center center no-repeat}
	.hmLnk span{visibility:hidden;font-size:.750em;line-height:1em}
	#mainNavTogCont,#srchTogCont,.togCont{display:block!important}/*to keep main nav and search visible @ all times*/
	.tabsList li a{position:relative;top:4px;float:left;overflow:hidden;font-weight:400;text-shadow:none;background:#fff;padding:8px .5em 10px;border-style:solid;border-color:#ccc;border-width:2px 2px 0;cursor:pointer}
	.tabsList li.cur a{top:3px;font-weight:700;color:#222;background:#f3f6f7;text-decoration:none;border:3px solid #0c3c5d;border-bottom:none!important}
	.tabsList li.cur a:hover,.tabsList li.cur a:focus{color:#222;background-color:#f3f6f7}
}
@media (min-width:700px) and (max-width:1185px){
	.nav-grid-lnks{float:left;width:62%;margin-top:4px}
	.nav-grid-srch{float:left;width:38%}
	.srch input[type="submit"]{font-size:1em}
}
@media only screen and (min-width:1185px) { 
	/*do not add to IE stylesheet*/
	.srch .grid-75{padding:0}
	/*min-width: 1185px*/
	/*body{padding:20px 0}*/
	.bxLst{margin-bottom:0}
	.nav-grid-lnks{float:left;width:75%;margin-top:4px}
	.nav-grid-srch{float:left;width:25%}
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    /*abbr[title]:after {
        content: " (" attr(title) ")";
    }MSR COMMENTED OUT 10/11/13*/

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;

    }

	/*custom*/
	.clear {clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0}
	body{font-size:12px}
	.btnRow,aside,.mainNavTogBtn,.srchTogBtn,#crmbs,#utl,#nav,.srchCtnr,a.togLnk,.progTrckr,footer{display:none}
	#bnrCtnr{height:auto;border-top:0;border-bottom:2px solid #D78622}
	.grdGrp{margin:0;padding:0}
	li.cur{border-bottom:5px solid #D78622}
	/*review pages*/
	.frmRvw h3{font-weight:400;border-bottom:1px solid #999}
	.frmRvw h2,.frmRvw h3,.frmRvw dl{clear:both}
	.frmRvw dl dt{float:left;clear:left}
	.frmRvw dt{font-weight:400}
	.frmRvw dd{float:left;clear:right}
	.frmRvw dd span{background:#fff;border-bottom:2px solid #ccc;padding:3px;margin:3px;font-weight:700}
	.frmRvw dt,.frmRvw dd{padding:8px 0}
	.frmRvw dd{padding-left:10px}
}