body {
  top: 0px;
  margin: 0px;
  padding: 0px;
  font: 12px Tahoma, sans-serif;
}

input, select, textarea {
  border: 1px solid #000000;
  margin: 2px 2px 2px 2px;
  padding: 0px;
  font: 12px Tahoma, sans-serif;
}

#location_list, #candidates_list, #office_list, #election_list, #propositions_list {
  font: 11px Tahoma, sans-serif;
}

#page {
  background: white;
  min-width: 780px;
  max-width: 1260px;
}

#page-wrap #inside {
}

#sidebar {
  border-right: 1px solid #000000;
  background: #ebebeb;
  width: 200px;
  float: left;
  padding-left: 5px;
  padding-top: 10px;
}
	
#results {
  padding-left: 210px;
  padding-top: 15px;
}

#search {
  border: 1px solid #000000;
  margin: 0px;
  padding: 3px 8px 3px 8px;
  font: 14px Tahoma, sans-serif;
  font-weight: bold;
}

.results_table {
  border-collapse: collapse;
  border: 1px solid #000000;
  font: 11px Tahoma, sans-serif;
}
.results_table th {background: #ebebeb;}
.results_table tr:nth-child(odd) td {background: #ebebeb;}
.results_table tr:nth-child(even) td {background: #ffffff;}
